# Игнорирование папки с виртуальным окружением (если вы используете виртуальное окружение)
venv/

mvpcode_cache/

# Игнорирование файлов миграции базы данных
*.pyc
__pycache__/

# db.sqlite3

# Игнорирование файлов настроек IDE
.idea/
.vscode/

# Игнорирование файлов настроек локального разработчика
*.env

# Дополнительные файлы и папки, которые вы хотите игнорировать
